<!--
  this is the html template to be sent in the mail
  content is the form submission
  styling needs to be done
-->

<% email.forEach(function(entry) {%>
<a href="<%= entry.url%>" class="list-group-item text-dark"> <%=entry.name%></a>
<%}); %>
